<!-- Handle markdown -->
<script src="/assets/js/marked.min.js"></script>

<!-- Player -->
<div id="player" class="container mx-auto px-4 py-4 text-center items-center">
	<flex class="container items-center justify-center gap-3">
		<div class="container items-center justify-center">
			<!-- TODO: figure out how to make this fit without scrollbars being needed... -->
			<iframe class="m-auto w-full h-screen" frameborder="0" scrolling="no" src="/hosted/projects_public/{{ .ID }}/"
				allowfullscreen="true" allow="autoplay; clipboard-write;" referrerpolicy="same-origin"></iframe>
				
		</div>
		<div class="flex flex-row items-center justify-center gap-2 pb-5 pt-5">
			<img src="{{ if .DeveloperAvatarURL }}{{ .DeveloperAvatarURL }}{{ else }}/assets/static/img/ui/placeholder_user.png{{ end }}" alt="Profile Image" class="w-10 h-10">
			<h2 class="text-xl font-bold dark:text-white">{{ .DeveloperName }}</h2>
		</div>
		<div class="flex flex-row items-center justify-center gap-2 pb-7">
			<h1 class="text-5xl font-bold dark:text-white">{{ .GameName }}</h1>
		</div>
		<div class="container bg-white dark:bg-gray-800 p-4 rounded-xl bg-gray-100 dark:bg-gray-700 dark:text-white">
			<h2 class="text-2xl font-bold dark:text-white pb-2" data-i18n="play_description">Description</h2>
			<p>{{ .GameDescription }}</p>
			<h2 class="text-2xl font-bold dark:text-white pt-5 pb-5" data-i18n="play_features">Features</h2>
			<div class="flex flex-row flex-wrap items-center justify-center pb-2">
				{{ range .Features }}
					{{ template "feature_elem" . }}
				{{ end }}
			</div>
		</div>
		<div class="flex flex-row items-center justify-between gap-2 w-auto mx-2 my-5 dark:text-white">
			<p data-i18n="play_copyright">© 1 April 2025.</p>
			<a href="/reports/new"
				class="px-3 py-2 rounded-xl ring-1 ring-inset ring-gray-300 dark:ring-gray-600 bg-gray-100 dark:bg-gray-700 hover:bg-red-400 dark:hover:bg-red-400 hover:text-white hover:font-bold dark:text-white transition-all duration-200">
				<span class="flex items-center justify-center gap-2">
					<span data-i18n="play_report">Report</span>
				</span>
			</a>
		</div>

		<!-- <div class="container">
			<h2 class="text-4xl font-bold dark:text-white pb-8">Comments</h2>
			<div class="flex items-start space-x-4 mb-4 w-auto bg-white dark:bg-gray-800 p-4 rounded-xl bg-gray-100 dark:bg-gray-700 dark:text-white border-2 border-gray-300 dark:border-gray-600">
				<img src="/assets/static/img/placeholder.png" alt="Profile Image" class="flex max-w-12 m-2 rounded-xl flex-shrink-0">
				<div class="flex flex-col items-start gap-2">
					<textarea class="w-full text-left" id="comment_text"></textarea>
				</div>
			</div>
			{{ range .Comments }}
				{{ template "comment" . }}
			{{ end }}
		</div> -->
	</flex>
</div>

<!-- Very basic cheat mitigation. This is not very good but it's better than nothing. -->
<script id="playcheck">!function(){function a(){let b=!1,c=1,d=new Date,e=d.getTime(),f=new Date,g=f-e;if(!(b||isNaN(f)||f>c)){b=!0;document.getElementById("player").remove();const h=document.createElement("div"),i=document.createElement("h1"),j=document.createElement("p");h.className="flex flex-col items-center justify-center gap-2 w-auto mx-2 my-5 dark:text-white",i.className="text-5xl font-bold",i.textContent="Oops! That's not allowed.",j.className="text-2xl font-underline",j.textContent="It's not cool to cheat. Reload the page to play again.",h.appendChild(i),h.appendChild(j),document.getElementById("main").appendChild(h),document.getElementById("playcheck").remove()}}window.addEventListener("load",a),window.addEventListener("resize",a),window.addEventListener("mousemove",a),window.addEventListener("focus",a),window.addEventListener("blur",a)}();</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  if (typeof applyI18n === 'function') {
    applyI18n();
  }
});
</script>
