<!-- Primary content -->
<div class="container mx-auto px-4 py-8">
    <div class="container justify-center mx-auto mb-8">
        <h1 id="terms" class="text-5xl font-bold dark:text-white pb-6" data-i18n="terms_tos_title">Terms of Service</h1>
        
        <h2 id="user_agreement" class="text-3xl font-bold dark:text-white" data-i18n="terms_user_agreement">1. User Agreement</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_user_agreement_p1">
            These Terms of Service constitute an agreement between you ("you", "user") and Mike J. Renaker ("MikeDEV", "me", "I") that governs your use of Cloudlink Ω Next and all associated services. Please read carefully the Terms of Service. By using Cloudlink Ω Next, you confirm that you have read, understood, and accepted the terms and conditions in the Terms of Service. If you do not agree with any of these conditions, please do not use Cloudlink Ω Next. 
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_user_agreement_p2"><b>
            You must be at least 13 years old or older to use Cloudlink Ω Next.</b> If you are below this age, please don't use Cloudlink Ω Next or any related services.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_user_agreement_p3">
            I might need to revise these Terms. You can always find the latest version here. Your continued use of the Services constitutes your acceptance of any changes to these Terms. 
        </p>
        
        <h2 id="creation_and_maintenance" class="pt-6 text-3xl font-bold dark:text-white" data-i18n="terms_account_creation">2. Account Creation and Maintenance</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_account_creation_p1">
            <span data-i18n="terms_account_creation_p1_part1">To use features of Cloudlink Ω Next, you must create an account. You can use the service without an account</span> <i data-i18n="terms_account_creation_p1_italic">Guest mode</i><span data-i18n="terms_account_creation_p1_part2">, but you will loose out on certain features such as friends, achievements, cloud save slots, and more.</span>
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_account_creation_p2">
            <span data-i18n="terms_account_creation_p2_part1">When making an account, I will ask for some basic personal information, such as your desired username and password</span> <i data-i18n="terms_account_creation_p2_italic">or a reference to another third party identity provider, such as your Google, Github or Discord account, simply for your convenience</i><span data-i18n="terms_account_creation_p2_part2">.</span>
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_account_creation_p3">
            <b>You are solely responsible for the security and usage of your account</b>, even if you let someone else use your account. If any use of your account violates these terms, I reserve the right to suspend or terminate your account.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_account_creation_p4">
            <b>You may not use another user's account without permission</b>, nor are you permitted to bypass protections in place to work around this.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_account_creation_p5">
            If you suspect that your account has been compromised (i.e. loss, theft, or unauthorized disclosure of your password / credentials), promptly change your passwords. If you cannot access your account, please contact me below.
        </p>
        
        <h2 id="usage_and_rules" class="pt-6 text-3xl font-bold dark:text-white" data-i18n="terms_usage_rules">3. Usage & Rules</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_usage_rules_p1">
            I strongly believe in free speech and free thought. Note that this platform is intended for a wide audience, and some content may be offensive to some users.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_usage_rules_p2">You may not use Cloudlink Ω Next in any way, that:</p>
        <list class="dark:text-white">
            <li class="pt-3" data-i18n="terms_usage_rules_li1">Threatens, harasses, or intimidates another person; even if they are a user of Cloudlink Ω Next at all.</li>
            <li class="pt-3" data-i18n="terms_usage_rules_li2">Provides instructions for illegal activities or in any way, shape or form that otherwise violates the law.</li>
            <li class="pt-3" data-i18n="terms_usage_rules_li3">Exposes another person's personal information or data without their prior consent or explicit permission.</li>
            <li class="pt-3" data-i18n="terms_usage_rules_li4">Contains or promotes discrimination, prejudice, hatred, violence or bigotry against any individual, group, ethnicity, race, sex, religion or organizational affiliation.</li>
        </list>

        <h2 id="content_and_licensing" class="pt-6 text-3xl font-bold dark:text-white" data-i18n="terms_content_licensing">4. User-generated content and Licensing</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_content_licensing_p1">
        For these terms, "User-generated content" includes any posts, links, software, or other content that you upload to Cloudlink Ω Next.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_content_licensing_p2">
            It is your sole responsibility to ensure that you own the rights, or have a valid license to use the content or any assets that reside within the content you share.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_content_licensing_p3">
            You understand that innappropriate content may be submitted at any time, and you may get exposed to such content. If you feel that such content violates these terms, please let me know by using the report button (Please only submit one report per content).
        </p>

        <h3 id="content_license" class="pt-6 text-2xl font-bold dark:text-white" data-i18n="terms_content_licenses">4.1. Content Licenses</h3>
        <p class="pt-3 dark:text-white" data-i18n="terms_content_licenses_p1">
            By default, when you publish a project using tools like Scratch, your content is automatically licensed under the Creative Commons Attribution 4.0 International License.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_content_licenses_p2">
            When submitting your content to Cloudlink Ω Next, you may choose a different license and/or sublicense your content in any way you see fit, or may wish to submit your content as a proprietary work. If you do so, you must appropriately tag your content accordingly, as some users may not wish to consume proprietary content. 
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_content_licenses_p3">
            By submitting your content to Cloudlink Ω Next, you grant me a worldwide license to publicly share and host your content for other users, and you grant other users an implied worldwide license to access your content. You may revoke these licenses at any time by simply un-sharing your content.
        </p>

        <h3 id="sensitive_content" class="pt-6 text-2xl font-bold dark:text-white" data-i18n="terms_sensitive_content">4.2. Permitted Sensitive Content</h3>
        <p class="pt-3 dark:text-white" data-i18n="terms_sensitive_content_p1">These kinds of content are permitted on Cloudlink Ω Next, provided that you correctly tag your content and comply with the following rules accordingly:</p>
        <list class="dark:text-white">
            <li class="pt-3" data-i18n="terms_sensitive_content_li1">Contains sexually explicit, "NSFW", or otherwise "18+" content - Content that depicts the sexual exploitation or violent abuse of any individual under the legal age of consent is prohibited.</li>
            <li class="pt-3" data-i18n="terms_sensitive_content_li2">References or depicts Drugs, Alcohol or Weapons for historical, educational and/or narrative purposes - Any reason not explicitly listed in these terms is prohibited. Additionally, depictions of the production of illegal drugs, alcohol or weapons is also prohibited.</li>
            <li class="pt-3" data-i18n="terms_sensitive_content_li3">Depicts graphic violence or crime for historical, educational and/or narrative purposes - Any reason not explicitly listed in these terms is prohibited.</li>
            <li class="pt-3" data-i18n="terms_sensitive_content_li4">Displays or has spoken vulgar or otherwise considered inappropriate language. - Your content may be removed if it implies or explictly incites discrimination, prejudice, hatred, violence or bigotry against any individual, group, ethnicity, race, sex, religion or organizational affiliation.</li>
        </list>
        <p class="pt-3 dark:text-white" data-i18n="terms_sensitive_content_warning"><b>Failure to abide by these senstive content rules may result in termination of your account, and the permanent deletion of the offending content. If I deem it necessary, you might be reported to law enforcement.</b></p>

        <h2 id="suspension_and_termination" class="pt-6 text-3xl font-bold dark:text-white" data-i18n="terms_suspension_termination">5. Suspension and Termination</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_suspension_termination_p1">
            I have the right to suspend or terminate your account if you violate these terms. Repeat violators of these terms will result in termination of their accounts. I reserve the right to determine what constitutes a violation of these terms. I also reserve the right to terminate any account used to circumvent prior enforcement of these terms.
        </p>

        <h2 id="third_parties" class="pt-6 text-3xl font-bold dark:text-white" data-i18n="terms_third_parties">6. Third Party Websites</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_third_parties_p1">
            Content submitted to Cloudlink Ω Next may include links to other websites or services. I have no control over those websites or services, and I cannot guarantee their accuracy, reliability, or completeness. You acknowledge and agree that I shall not be responsible or liable, directly or indirectly, for any damages, losses, or injuries resulting from the use of any such linked website or service.
        </p>
        
        <h2 id="disclaimers_and_liability" class="pt-6 text-3xl font-bold dark:text-white" data-i18n="terms_disclaimers">7. Disclaimers & Limitation of Liability</h2>
        <p class="pt-3 dark:text-white" data-i18n="terms_disclaimers_p1">
            All User-generated content is provided as-is. I provide no warranty or guarantee of any kind for the accuracy, reliability, or completeness of the content.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_disclaimers_p2">
            You acknowledge and agree that you use Cloudlink Ω Next at your own risk.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_disclaimers_p3">
            By using Cloudlink Ω Next, you acknowledge that Cloudlink Ω Next is provided "as is" and I hereby expressly disclaim all warranties, express and implied, including but not limited to any warranties of accuracy, reliability, title, merchantability, non-infringement, fitness for a particular purpose, or any other warranty, condition, guarantee or representation, whether oral, in writing or electronic form, including but not limited to the accuracy or completeness of any information contained therein or provided by Cloudlink Ω Next.
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_disclaimers_p4"> 
            Without limiting the foregoing, I hereby disclaim all warranties, express and implied, regarding user-generated content. Cloudlink Ω Next and any third-party service providers do not represent or warrant that access to Cloudlink Ω Next will be uninterrupted or that there will be no failures, errors or omissions, or loss of transmitted information, or that no viruses will be transmitted through these services. 
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_disclaimers_p5">
            I shall not be liable to you or any third parties for any direct, indirect, special, consequential, or punitive damages of any kind, regardless of the type of claim or the nature of the cause of action, even if I have been advised of the possibility of such damages. Without limiting the foregoing, I shall have no liability to you or any third parties for damages or harms arising out of user-generated content. 
        </p>
        <p class="pt-3 dark:text-white" data-i18n="terms_disclaimers_p6">
            Furthermore, In the event that I am unable to perform any obligations under these terms due to unforeseeable circumstances beyond my control, including but not limited to acts of God, war, natural disasters, government actions, or other force majeure events, I shall not be held liable for such non-performance. I will make reasonable efforts to resume my obligations as soon as the force majeure event has ended.
        </p>
    </div>

    <div id="privacy" class="container justify-center mx-auto mt-8 mb-8">
        <h1 class="text-5xl font-bold dark:text-white pb-6" data-i18n="terms_privacy_policy">Privacy Policy</h1>
        <!-- WIP -->
        <p class="pb-3 dark:text-white" data-i18n="terms_privacy_p1">
            All your data is stored and processed within the Commonwealth of Kentucky, which implements the KCDPA (Kentucky Consumer Data Privacy Act).
        </p>
        <p class="pb-3 dark:text-white" data-i18n="terms_privacy_p2">
            Anything legal that arises from using my services shall be subject to the exclusive jursidiction of the courts of the State of Kentucky, and you agree to this.
        </p>
        <p class="pb-3 dark:text-white" data-i18n="terms_privacy_p3">
            In recognition of the KCDPA (and similar data protection laws internationally), you are entitled to the following rights:
        </p>
        <list class="dark:text-white">
            <li class="pt-3" data-i18n="terms_privacy_li1"><b>Access</b> - You can ask for all of your data, and I will send it to you as soon as possible.</li>
            <li class="pt-3" data-i18n="terms_privacy_li2"><b>Rectification</b> - If your data is incorrect, I will fix it.</li>
            <li class="pt-3" data-i18n="terms_privacy_li3"><b>Erasure / Be forgotten</b> - If you don't want to use my services anymore, I will facilitate your wish to be completely erased.</li>
            <li class="pt-3" data-i18n="terms_privacy_li4"><b>Portability</b> - The data that I provide to you can be easily transferred to a self-hosted instance.</li>
            <li class="pt-3" data-i18n="terms_privacy_li5"><b>Object</b> - You can ask me to stop using your data for certain reasons.</li>
            <li class="pt-3" data-i18n="terms_privacy_li6"><b>Consent</b> - I won't ask for anything that I don't need, and I won't use any data that you don't give me permission to.</li>
            <li class="pt-3" data-i18n="terms_privacy_li7"><b>Notify</b> - If for any reason my service suffers a security breach, I will notify you within a timely manner.</li>
        </list>
        <p class="pt-3 dark:text-white" data-i18n="terms_privacy_p4">
            You may exercise these rights at any time by contacting me.
        </p>
    </div>

    <h1 class="text-3xl dark:text-white" data-i18n="terms_contact">
        You can contact me any time via <a class="underline" href="mailto:mikejrenaker@proton.me">my Proton Email.</a>
    </h1>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  if (typeof applyI18n === 'function') {
    applyI18n();
  }
});
</script>
