# 设置为 true 可完全禁用身份验证和账户功能
BYPASS_DB=false

# 指定服务器将部署到的完整主机名或 URL
# 必须与 OAuth 应用重定向 URL 一致，否则无法正常工作！
SERVER_URL=http://localhost:3000

# 指定账户服务器监听的接口
# 例如 0.0.0.0:3000 将监听服务器上所有 IPv4 接口
API_URL=localhost:3000

# 指定授权 Cookie 允许使用的域（或子域）
API_DOMAIN=localhost

# 在 https://console.cloud.google.com/projectcreate 创建新的云应用
# 然后进入"APIs & Services"部分，选择"Credentials"类别
# 点击"Create Credentials" > "OAuth client ID"，选择"Web application"
# 作为应用类型，并在"Authorized redirect URLs"部分指定重定向 URL
# ({SERVER_URL}/auth/google/callback)
ENABLE_GOOGLE=false
GOOGLE_KEY=
GOOGLE_SECRET=

# https://github.com/settings/developers > New OAuth App
# 创建应用后，需要在"Authorization callback URL"部分指定重定向 URL
# ({SERVER_URL}/auth/github/callback)
ENABLE_GITHUB=false
GITHUB_KEY=
GITHUB_SECRET=

# https://discord.com/developers/applications > New Application
# 创建应用后，进入应用设置的"OAuth2"部分生成客户端密钥
# 并指定重定向 URL ({SERVER_URL}/auth/discord/callback)
ENABLE_DISCORD=false
DISCORD_KEY=
DISCORD_SECRET=

# 使用以下命令生成 256 位服务器密钥：
# openssl rand 32 | base64
SERVER_SECRET=

# 如果使用自动启用 HTTPS 的反向代理，可将此变量设为"true"
# 以强制 Cookie 要求 HTTPS
ENFORCE_HTTPS=false

# 如果使用 HTTPS，请在此处指定证书和密钥
HTTPS_MODE=false
HTTPS_CERT=./ssl.crt
HTTPS_KEY=./ssl.key

# 由于此服务器仅用于账户管理，请在此指向主网站 URL
PRIMARY_WEBSITE=http://localhost:8080

# 用于服务器标签。格式：[国家代码]-[服务器昵称]-[标识]
SERVER_NAME=

# 信令后端授权的域。使用空格分隔多个域。使用 * 允许任何域
ALLOWED_DOMAINS=http://localhost:3000 https://localhost:3000 https://turbowarp.org

# 设置为 true 可强制内置中继客户端仅使用 TURN 服务器
TURN_ONLY=false

# 配置服务器的邮件发送设置
USE_EMAIL=false
EMAIL_SERVER=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# 配置托管文件的存储路径
HOSTED_PATH=./hosted

# 数据库配置
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306
DB_DATABASE=clomega
CONVERT_OLD_DB=false
OLD_DB=clomega_old